<h1>Willkommen, {{username}}</h1>

<p>Vielen Dank, dass Sie unserer App beigetreten sind. Wir freuen uns, Sie dabei zu haben!</p>

<p>Um zu beginnen, bestätigen Sie bitte Ihre E-Mail-Adresse, indem Sie auf den unten stehenden Link klicken:</p>

<p><a href='{{confirmationLink}}'>E-Mail-Adresse bestätigen</a></p>