<h1>Welcome, {{username}}</h1>

<p>Thanks for joining our app. We are glad to have you!</p>

<p>To get started, please confirm your email address by clicking the link below:</p>

<p><a href='{{confirmationLink}}'>Confirm Email Address</a></p>