<h1>Hello, {{username}}</h1>

<p>We have received your request to reset your password.</p>

<p>If it was you who sent the request, click the following link and enter a new password:</p>

<p><a href='{{passwordResetLink}}'>Enter a new password</a></p>

<p>If it wasn't you, you can ignore this mail.</p>