<h1>Hallo, {{username}}</h1>

<p>Wir haben Ihre Anfrage zum Zurücksetzen Ihres Passworts erhalten.</p>

<p>Falls Sie die Anfrage gesendet haben, klicken Sie auf den folgenden Link und geben Sie ein neues Passwort ein:</p>

<p><a href='{{passwordResetLink}}'>Neues Passwort eingeben</a></p>

<p>Falls Sie es nicht waren, können Sie diese E-Mail ignorieren.</p>