<h1>Welcome back!</h1>

<p>We have received your request to log in using two-factor authentication.</p>

<p>If it was you who sent the request, please enter the following code:</p>
<p><strong>{{code}}</strong></p>

<p>This code will expire after 15 minutes.</p>

<p>If it wasn't you, you can ignore this mail.</p>