<h1>Willkommen zurück!</h1>

<p>Wir haben Ihre Anfrage zur Anmeldung mit Zwei-Faktor-Authentifizierung erhalten.</p>

<p>Falls Sie die Anfrage gesendet haben, geben Sie bitte den folgenden Code ein:</p>
<p><strong>{{code}}</strong></p>

<p>Dieser Code läuft nach 15 Minuten ab.</p>

<p>Falls Sie es nicht waren, können Sie diese E-Mail ignorieren.</p>