name: Build

on:
  pull_request:

jobs:
  # -------- Build --------
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.1

      - name: Install dependencies
        run: npm ci

      - name: Run Build
        run: npm run build

    # -------- Build Docker Images --------
  build-dpcker-images:
    name: Build Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.1

      - name: Install dependencies
        run: npm ci

      - name: Run Build Docker Images
        run: npm run docker:build
